{#
   Each field type is rendered by a template fragment, which is determined
   by the name of your form type class (DateTimePickerType -> date_time_picker)
   and the suffix "_widget". This can be controlled by overriding getBlockPrefix()
   in DateTimePickerType.

   See http://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#creating-a-template-for-the-field
#}

{% block date_time_picker_widget %}
    <div class="input-group date" data-toggle="datetimepicker" id="date" >
        <div class="input-group input-append date" id="date">
            <input type="text" class="form-control" name="date" id="date" placeholder="Date"/>
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>

    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('#date').datepicker({
                format: 'dd/mm/yyyy',
                language : 'fr'
            });
            $('#date').datetimepicker({locale:'fr'});

        });
    </script>
{% endblock %}



{% block tags_input_widget %}
    <div class="input-group">
        {{ form_widget(form, {'attr': {'data-toggle': 'tagsinput', 'data-tags': tags|json_encode}}) }}
        <span class="input-group-addon">
            <span class="fa fa-tags" aria-hidden="true"></span>
        </span>
    </div>
{% endblock %}
