<!DOCTYPE html>
<html>
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Green covoit'{% endblock %}</title>

        {% block stylesheets %}
            <!-- Obligation pour date picker -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
            <script src="{{ asset('js/moment-with-locales.js') }}"></script>
            <script src="{{ asset('js/moment.js') }}"></script>

            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/creativesansnav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
            <!--<link rel="stylesheet" href="{{ asset('magnific-popup/magnific-popup.css') }}"-->
            <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">-->

            <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />


            <!-- Custom Fonts -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.jpg') }}" />
      </head>

      <body>
        {% block header %}
            {% block header_navigation_links %}
                <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li >
                                    <a class="navbar-brand pull-left " href="{{ path('homepage') }}"><p class="md-display-4"> Green covoit'</p></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li >
                                    <a href="{{ path('annonce') }}">{{"menu.annonce"|trans|raw}}</a>
                                </li>
                                {% if not app.user %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">{{"menu.connect"|trans|raw}}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}">{{"menu.register"|trans|raw}}</a>
                                </li>
                                {% endif %}

                                {% if app.user %}
                                <li><a href="{{ path('fos_user_profile_show') }}">{{"menu.profile"|trans|raw}}</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{"menu.disconnect"|trans|raw}}</a></li>
                                <li>
                                    <a href="{{ path('publier_annonce') }}"><b>{{"menu.publish"|trans|raw}}</b></a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
                <br/><br/><br/><br/>
            {% endblock %}
        {% endblock %}

        <div class="container ">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>


        {% block body %}
        <div class="container ">



            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                {% block main %}{% endblock %}
                </div>
             </div>
        </div>
            {% block sidebar %}{% endblock %}
        {% endblock %}
      </body>



        {% block footer %}
          <section id="contact">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 text-center">
                          <h2 class="section-heading">{{"homepage.footer.title"|trans|raw}}</h2>
                          <hr class="primary">
                          <p>{{"homepage.footer.desc"|trans|raw}}</p>
                      </div>
                      <div class="col-lg-4 col-lg-offset-2 text-center">
                          <i class="fa fa-phone fa-3x sr-contact"></i>
                          <p>02.23.61.74.34</p>
                      </div>
                      <div class="col-lg-4 text-center">
                          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                          <p><a href="mailto:contact@greencovoit.com">contact@greencovoit.com</a></p>
                      </div>
                  </div>
              </div>
          </section>
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
            <script src="{{ asset('js/creative.js') }}"></script>
            <script src="{{ asset('magnific-popup/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.eu.min.js') }}"></script>
            <script src="{{ asset( 'js/bootstrap-datetimepicker.min.js' ) }}"></script>



            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>





        {% endblock %}

    </body>
</html>
