{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Obligation pour date picker -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ asset('js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('css/creative.css') }}">
    <link rel="stylesheet" href="{{ asset('magnific-popup/magnific-popup.css') }}" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body_id 'homepage' %}


{% block header_navigation_links %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a href="{{ path('annonce') }}">{{ 'menu.annonce'|trans|raw }}</a>
                    </li>
                    {% if not app.user %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{"menu.connect"|trans|raw}}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">{{"menu.register"|trans|raw}}</a>
                        </li>
                    {% endif %}

                    {% if app.user %}

                        <li><a href="{{ path('fos_user_profile_show') }}">{{"menu.profile"|trans|raw}}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{"menu.disconnect"|trans|raw}}</a></li>
                        </li>
                        <li>
                            <a href="{{ path('publier_annonce') }}"><b>{{"menu.publish"|trans|raw}}</b></a>
                        </li>
                    {% endif %}




                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span class="caret"></span>
                            <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                        </a>
                        <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                            <li><a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: "fr" })) }}">Français</a></a>
                            <li><a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: "en" })) }}">Anglais</a></a>
                        </ul>
                    </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block body %}
      <header>
          <div class="header-content">
              <div class="header-content-inner">
                  <h1></h1>
                  <h1 id="homeHeading">{{ 'title.homepage'|trans|raw }}</h1>
                  <br/>
                    <form action="{{ path('annonce') }}" method="get">
                        <div class="col-lg-10 col-lg-offset-1">

                            <div class="col-lg-4">
                              <!--
                                <input type="text" id="origin-input" name="villedepart" placeholder={{ 'research.start'|trans|raw }} class="form-control"/>
                              -->
                              {{ form_errors(filterForm.villedepart) }}
                              {{ form_widget(filterForm.villedepart, { 'id': 'origin-input','attr': {'class': 'form-control' ,'placeholder':'De'}} ) }}
                            </div>
                            <div class="col-lg-4">
                              <!--
                                <input type="text" id="destination-input" name="villearrivee" placeholder={{ 'research.end'|trans|raw }} class="form-control"/>
                              -->
                              {{ form_errors(filterForm.villearrivee) }}
                              {{ form_widget(filterForm.villearrivee, { 'id': 'destination-input','attr': {'class': 'form-control' ,'placeholder':'À'}} ) }}
                            </div>

                            <div class="col-lg-4">
                                  <div class="input-group input-append date" id="datePicker">
                                      <!--
                                      <input type="text" class="form-control" name="datedepart" id="date" placeholder="Date"/>
                                      -->
                                      {{ form_widget(filterForm.datedepart.left_datetime, { 'id' : 'date', 'attr' : {'class' : 'form-control', 'placeholder' : 'Date'}} ) }}
                                      <span class="input-group-addon add-on"><span id="dateIcon" class="glyphicon glyphicon-calendar"></span></span>
                                  </div>
                            </div>
                            <input id="hiddenDate" name="datedepart[right_datetime]" hidden />
                            <input name="filter_action" value="filter" hidden />
                        </div>
                        <br/>

                        <br /><BR><br/><br/>

                        <!--
                        <input hidden="true" type="text" value="filter" name="filter_action"/>
                      -->
                        <div class="row">
                            <div class="col-lg-12">

                              <input type="submit" class="btn btn-primary btn-xl " value ={{ 'research.button'|trans|raw }} onclick="changeDate();"   ></input>
                            </div>
                        </div>
                    </form>
              </div>
          </div>
      </header>

      <section class="bg-primary" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">{{ 'homepage.banner.participate'|trans|raw }}</h2>
                      <hr class="light">

                      <p class="text-faded">{{ 'homepage.banner.join'|trans|raw }}</p>
                      <a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-xl sr-button">{{ 'homepage.banner.connect'|trans|raw }}</a>
                  </div>
              </div>
          </div>
      </section>

      <section id="services">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">{{ 'homepage.banner2.title'|trans|raw }}</h2>
                      <hr class="primary">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                          <h3>{{ 'homepage.banner2.title1'|trans|raw }}
                          </h3>
                          <p class="text-muted">{{ 'homepage.banner2.desc1'|trans|raw }}</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                          <h3>{{ 'homepage.banner2.title2'|trans|raw }}</h3>
                          <p class="text-muted">{{ 'homepage.banner2.desc2'|trans|raw }}</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                          <i class="fa fa-4x fa-flag-checkered text-primary sr-icons"></i>
                          <h3>{{ 'homepage.banner2.title3'|trans|raw }}</h3>
                          <p class="text-muted">{{ 'homepage.banner2.desc3'|trans|raw }}</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 text-center">
                      <div class="service-box">
                          <i class="fa fa-4x fa-globe text-primary sr-icons"></i>
                          <h3>{{ 'homepage.banner2.title4'|trans|raw }}</h3>
                          <p class="text-muted">{{ 'homepage.banner2.desc4'|trans|raw }} </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ asset('js/creative.js') }}"></script>
    <script src="{{ asset('magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.eu.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.eu.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset( 'js/bootstrap-datetimepicker.min.js' ) }}"></script>

    <script type="text/javascript">
      /*window.onload = function() {
        document.getElementById('date').value = document.getElementById('date').value.substring(0,10);
      };*/

      function changeDate() {
        var dateString = document.getElementById('date').value;
        var regex = /(\d{2})\/(\d{2})\/(\d{4})/;
        var dateArray = regex.exec(dateString);
        var dateActuelle = new Date();
        var date = new Date((+dateArray[3]), (+dateArray[2])-1, (+dateArray[1]), 0, 0);
        if(date.getYear() == dateActuelle.getYear() && date.getMonth() == dateActuelle.getMonth() && date.getDay() == dateActuelle.getDay()) {
          date.setHours(dateActuelle.getHours());
          date.setMinutes(dateActuelle.getMinutes());
        }
        document.getElementById('date').value = moment(date).format('DD/MM/YYYY HH:mm');
        date.setHours(date.getHours() + 4); // Au cas où il déjà > 20h00, on cherche aussi demain
        document.getElementById('hiddenDate').value = moment(date).format('DD/MM/YYYY 23:59');
      };
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#date').datepicker({
                format:'dd/mm/yyyy'
            });
        });
    </script>


    <script>
        function initAutoComplet() {
            var origin = document.getElementById('origin-input');
            var destination = document.getElementById('destination-input');
            var options = {
                types: ['(cities)'],
                componentRestrictions: {country: 'fr'}
            };

            autocomplete1 = new google.maps.places.Autocomplete(origin, options);
            autocomplete2 = new google.maps.places.Autocomplete(destination, options);
        };

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX7UdZqquu7qVF8pPJ8Ysnv88DQsaYgM0&callback=initAutoComplet&libraries=places">
    </script>

{% endblock %}
