{% extends "base.html.twig" %}

{% block body %}
<div class="container bootcards-container" id="main" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <div class="col-sm-6 bootcards-list" id="list" data-title="Companies">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="search-form">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Depart">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="Arrivée">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-primary btn-block" href="#" data-toggle="modal" data-target="#editModal">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Partez</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group">
                    <a class="list-group-item pjax" href="/companies/o8v9urr7vchs">

                        <div class="row">
                            <div class="col-sm-6">
                                <i class="fa fa-3x fa-building-o pull-left"></i>
                                <h4 class="list-group-item-heading">Burning Core</h4>
                                <p class="list-group-item-text">city, England</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="list-group-item-text">Customer Type</p>
                                <p class="list-group-item-text">$35,000 Revenue YTD</p>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="panel-footer">
                    <small class="pull-left">Built with Bootcards - Detailed List</small>
                    <a class="btn btn-link btn-xs pull-right" href="/snippets/list-detailed" data-toggle="modal" data-target="#docsModal">
                        View Source</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 bootcards-cards" id="listDetails">
            <div id="companyCard">

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Company Details</h3>
                        <div class="btn-group pull-right visible-xs">
                            <a class="btn btn-primary" href="/companies/189e4u76bqh34/edit" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-pencil"></i>
                                <span>Edit</span>
                            </a>
                        </div>
                        <a class="btn btn-primary pull-right hidden-xs" href="/companies/189e4u76bqh34/edit" data-toggle="modal" data-target="#editModal">
                            <i class="fa fa-pencil"></i>
                            <span>Edit</span>
                        </a>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-building-o pull-left"></i>
                            <label>Name</label>
                            <h4 class="list-group-item-heading">Camion Corp.</h4>
                        </div>
                        <div class="list-group-item">
                            <label>City</label>
                            <h4 class="list-group-item-heading">Tokyo</h4>
                        </div>
                        <div class="list-group-item">
                            <label>Country</label>
                            <h4 class="list-group-item-heading">Japan</h4>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Built with Bootcards - Base Card</small>
                        <a class="btn btn-link btn-xs pull-right" href="/snippets/base-card-form" data-toggle="modal" data-target="#docsModal">
                            View Source</a>
                    </div>
                </div>

            </div>

            <!--list of contacts-->
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Contacts</h3>
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary" href="/companies/189e4u76bqh34/contacts/add" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-plus"></i>
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-group">

                        <a class="list-group-item pjax" href="/contacts/QQkRbSVxfARv">
                            <img src="/images/Darren Sizelove.jpg" class="img-rounded pull-left">
                            <h4 class="list-group-item-heading">Sizelove, Darren</h4>
                            <p class="list-group-item-text">Camion Corp.</p>
                        </a>


                        <a class="list-group-item pjax" href="/contacts/BHTmv2NpG3eU">
                            <img src="/images/Teddy Skolnik.jpg" class="img-rounded pull-left">
                            <h4 class="list-group-item-heading">Skolnik, Teddy</h4>
                            <p class="list-group-item-text">Camion Corp.</p>
                        </a>

                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Built with Bootcards - List</small>
                        <a class="btn btn-link btn-xs pull-right" href="/snippets/list-card" data-toggle="modal" data-target="#docsModal">
                            View Source</a>
                    </div>

                </div>
            </div>
            <!--list of activities-->

            <div>

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Notes</h3>
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary" href="/companies/189e4u76bqh34/notes/add" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-plus"></i>
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item pjax" href="/companies/189e4u76bqh34/notes/10ukkltuoikg0">
                            <i class="fa fa-2x pull-left fa-medkit"></i>
                            <h4 class="list-group-item-heading">RMA's</h4>
                            <p class="list-group-item-text">Mon 02 Dec 2013 17:19</p>
                        </a>
                        <a class="list-group-item pjax" href="/companies/189e4u76bqh34/notes/v208y6xswsg0">
                            <i class="fa fa-2x pull-left fa-file-text-o"></i>
                            <h4 class="list-group-item-heading">Delivery Scheduled</h4>
                            <p class="list-group-item-text">Mon 02 Dec 2013 17:18</p>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Built with Bootcards - List</small>
                        <a class="btn btn-link btn-xs pull-right" href="/snippets/list-card" data-toggle="modal" data-target="#docsModal">
                            View Source</a>
                    </div>
                </div>

            </div></div>
    </div>

</div>
{% endblock  %}