{% extends "base.html.twig" %}

{% block body %}




    <div class="container bootcards-container" id="main" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-3 colo">
            <div class="list-group">
                <a href="{{ path('fos_user_profile_show') }}" class="list-group-item  ">{{"profile.menu1"|trans|raw}}</a>
                <a href="{{ path('annonce_mes_anonces') }}" class="list-group-item list-group-item-action">{{"profile.menu2"|trans|raw}}</a>

            </div>

        </div>

        <div class="col-sm-7 bootcards-list" id="list" data-title="Companies">


            <div class="panel panel-default">
                <div class="panel-heading clearfix" >
                    <h3 class="panel-title pull-left">{{"profile.title"|trans|raw}}</h3>
                    <a class="btn btn-primary pull-right" href="/profile" >
                        <i class="fa fa-user"></i>
                        Revenir au profil
                    </a>
                </div>

                <div class="list-group">

                    <div class="list-group">
                        <div class="list-group-item">
                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            {{ form_widget(form) }}

                            <br/>
                            <div>
                                <input type="submit" class="btn btn-primary " value="{{ 'Envoyer    '|trans }}" />
                            </div>
                            {{ form_end(form) }}
                        </div>

                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Green covoit</small>
                        <br/>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock  %}