{% extends "base.html.twig" %}

{% block body %}



    <div class="container bootcards-container" id="main" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-3 colo">
                <div class="list-group">
                    <a href="{{ path('fos_user_profile_show') }}" class="list-group-item  ">{{"profile.menu1"|trans|raw}}</a>
                    <a href="{{ path('annonce_mes_anonces') }}" class="list-group-item list-group-item-action">{{"profile.menu2"|trans|raw}}</a>
                </div>

            </div>

            <div class="col-sm-7 bootcards-list" id="list" data-title="Companies">


                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{"profile.title"|trans|raw}}</h3>
                        <a class="btn btn-primary pull-right" href="edit">
                            <i class="fa fa-pencil"></i>
                            Modifier
                        </a>
                    </div>

                    <div class="list-group">

                        <div class="list-group">
                            <div class="list-group-item">
                                <p class="list-group-item-text">{{"profile.username"|trans|raw}}</p>
                                <h4 class="list-group-item-heading">{{ user.username }}</h4>
                            </div>
                            <div class="list-group-item">
                                <p class="list-group-item-text">{{"profile.mail"|trans|raw}}</p>
                                <h4 class="list-group-item-heading">{{ user.email }}</h4>
                            </div>

                            <div class="list-group-item">
                                <p class="list-group-item-text">{{"profile.tel"|trans|raw}}</p>
                                <h4 class="list-group-item-heading">{{ user.tel }}</h4>
                            </div>


                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">Green covoit</small>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock  %}
