{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit annonce
{% endblock %}

{% block body %}


<div class='container'>

    <h1>Modifier votre annonce</h1>
    <p>
        <em>Les champs précédés d'un astérisque sont obligatoires</em>
    </p>

    <div class="row">
        {{ form_start(edit_form, {'attr': {'class': 'simple_form form-horizontal'}}) }}

        {{ form_errors(edit_form) }}

        <div class='row'>
            <div class='col-md-6'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>{{"publier.route"|trans|raw}}</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='form-inputs'>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <b>{{"publier.start"|trans|raw}}</b>
                                </div>

                                {{ form_errors(edit_form.villedepart) }}

                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.villedepart, { 'id': 'origin-input','attr': {'class': 'form-control' ,'placeholder':'De'}} ) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 ">
                                    <b>{{"publier.end"|trans|raw}}</b>
                                </div>

                                {{ form_errors(edit_form.villearrivee) }}

                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.villearrivee, {'id': 'destination-input','attr': {'class': 'form-control' ,'placeholder':'À'}}) }}
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <h5 id="total"></h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 id="prix"></h5>
                        </div>
                    </div>
                </div>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>{{"publier.date.title"|trans|raw}}</h3>
                    </div>
                    <div class='panel-body'>
                        <div class="form-group" id="date">
                            <div class="col-sm-3 ">
                                <b>{{"publier.date"|trans|raw}}</b>
                            </div>
                            {{ form_errors(edit_form.datedepart) }}

                            <div class="col-sm-6">
                                {{ form_widget(edit_form.datedepart) }}
                            </div>

                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.datepicker').datetimepicker({
                                        format:'DD/MM/YYYY HH:mm ',
                                        stepping: 10,
                                    });
                                });
                            </script>

                        </div>


                        <div class="form-group" >
                            <div class="col-sm-3 ">
                                <b>{{"publier.cost"|trans|raw}}<b>
                            </div>
                            {{ form_errors(edit_form.prix) }}

                            <div class="col-sm-4">
                                {{ form_widget(edit_form.prix, {'id': 'prix','attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-sm-1">
                                <h4>{{"publier.currency"|trans|raw}}</h4>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class='panel panel-default'>

                    <div class='panel-heading'>
                        <h3 class='panel-title'>{{"publier.detail"|trans|raw}}</h3>
                    </div>
                    <div class='panel-body'>
                        <div class="form-group" >
                            <div class="col-sm-3 ">
                                <b>{{"publier.nbplaces"|trans|raw}}</b>
                            </div>
                            {{ form_errors(edit_form.nbplacedispo) }}

                            <div class="col-sm-9">
                                {{ form_widget(edit_form.nbplacedispo, {'id': 'nbplacedispo','attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3 ">
                                <b>{{"publier.details"|trans|raw}}</b>
                            </div>

                            {{ form_errors(edit_form.descriptif) }}

                            <div class="col-sm-9">
                                {{ form_widget(edit_form.descriptif, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        {{ form_widget(edit_form.descriptif, {'attr': {'class': ''}}) }}

                        <br/>
                    </div>
                </div>

                {{ form_widget(edit_form.placeDepart, {'id': 'placeDepart'}) }}
                {{ form_widget(edit_form.placeArrivee, {'id': 'placeArrivee'}) }}


                <div class='row'>
                    <br/>
                    <div class='col-sm-offset-3 col-sm-6'>
                        <button type="submit" name="submit" value="save" class="btn btn-primary">
                            <h4>Modifier l'annonce</h4>
                        </button>
                    </div>
                </div>

            </div>
            {{ form_end(edit_form) }}

            <div class='col-md-6 hidden-xs hidden-sm'>
                <div class='panel panel-default'>
                    <div class='panel-body'>

                        <div id="map"></div>
                        <script>
                            function initMap() {
                                var origin_place_id = null;
                                var destination_place_id = null;
                                var travel_mode = google.maps.TravelMode.DRIVING;
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    mapTypeControl: false,
                                    center: {lat: 48, lng: 2},
                                    zoom: 4
                                });
                                var directionsService = new google.maps.DirectionsService;
                                var directionsDisplay = new google.maps.DirectionsRenderer;
                                directionsDisplay.setMap(map);

                                var origin_input = document.getElementById('origin-input');
                                var destination_input = document.getElementById('destination-input');


                                var origin_autocomplete = new google.maps.places.Autocomplete(origin_input);
                                origin_autocomplete.bindTo('bounds', map);
                                var destination_autocomplete =
                                        new google.maps.places.Autocomplete(destination_input);
                                destination_autocomplete.bindTo('bounds', map);

                                directionsDisplay.addListener('directions_changed', function() {
                                    computeTotalDistance(directionsDisplay.getDirections());
                                });

                                function expandViewportToFitPlace(map, place) {
                                    if (place.geometry.viewport) {
                                        map.fitBounds(place.geometry.viewport);
                                    } else {
                                        map.setCenter(place.geometry.location);
                                        map.setZoom(17);
                                    }
                                }

                                origin_autocomplete.addListener('place_changed', function() {
                                    var place = origin_autocomplete.getPlace();
                                    if (!place.geometry) {
                                        window.alert("Autocomplete's returned place contains no geometry");
                                        return;
                                    }
                                    expandViewportToFitPlace(map, place);

                                    // If the place has a geometry, store its place ID and route if we have
                                    // the other place ID
                                    origin_place_id = place.place_id;
                                    route(origin_place_id, destination_place_id, travel_mode,
                                            directionsService, directionsDisplay);
                                });

                                destination_autocomplete.addListener('place_changed', function() {
                                    var place = destination_autocomplete.getPlace();
                                    if (!place.geometry) {
                                        window.alert("Autocomplete's returned place contains no geometry");
                                        return;
                                    }
                                    expandViewportToFitPlace(map, place);

                                    // If the place has a geometry, store its place ID and route if we have
                                    // the other place ID
                                    destination_place_id = place.place_id;

                                    $('input[id="placeDepart"]').attr({value : origin_place_id});
                                    $('input[id="placeArrivee"]').attr({value : destination_place_id});


                                    console.log(origin_place_id);

                                    route(origin_place_id, destination_place_id, travel_mode,
                                            directionsService, directionsDisplay);
                                });

                                function computeTotalDistance(result) {
                                    var total = 0;
                                    var prix = 0;
                                    var myroute = result.routes[0];
                                    for (var i = 0; i < myroute.legs.length; i++) {
                                        total += myroute.legs[i].distance.value;
                                    }
                                    total = total / 1000;
                                    total = Math.round(total);
                                    prix = total * 0.07;
                                    prix = Math.round(prix);
                                    prixmin = Math.round(prix *0.8);
                                    prixmax = Math.round(prix *1.2);


                                    document.getElementById('total').innerHTML = "Distance : "+ total + ' km';
                                    $('input[id="prix"]').attr({value : prix});
                                    document.getElementById('prix').innerHTML = "Prix conseillé : entre "+ prixmin + ' et '+ prixmax + ' € ' ;



                                }

                                function route(origin_place_id, destination_place_id, travel_mode,
                                               directionsService, directionsDisplay) {
                                    console.log(origin_place_id);
                                    if (!origin_place_id || !destination_place_id) {
                                        return;
                                    }
                                    directionsService.route({
                                        origin: {'placeId': origin_place_id},
                                        destination: {'placeId': destination_place_id},
                                        travelMode: travel_mode,
                                        drivingOptions: {
                                            departureTime: new Date(Date.now()),  // for the time N milliseconds from now.
                                            trafficModel: "optimistic"
                                        }
                                    }, function(response, status) {
                                        if (status === google.maps.DirectionsStatus.OK) {
                                            directionsDisplay.setDirections(response);
                                            console.log(response);
                                        } else {
                                            window.alert('Directions request failed due to ' + status);
                                        }


                                    });
                                }

                            }

                        </script>

                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX7UdZqquu7qVF8pPJ8Ysnv88DQsaYgM0&callback=initMap&libraries=places"></script>


                        <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
                        <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
                        <script src="{{ asset('js/bootstrap-datepicker.eu.min.js') }}"></script>
                        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

                    </div>
                </div>


            </div>

        </div>
    </div>


{% endblock %}

