{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - annonce index
{% endblock %}

{% block body %}




    <div class="container bootcards-container" id="main" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1 bootcards-list" id="list" data-title="Recherche">
                <div class="panel panel-default">

                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{"annonce.research"|trans|raw}}</h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                                <form  action="{{ path('annonce') }}" method="get" >
                                    <div class="row">
                                        <h5 class="col-sm-2">De</h5>
                                        <div class="col-sm-10">
                                            {{ form_errors(filterForm.villedepart) }}
                                            {{ form_widget(filterForm.villedepart, { 'id': 'origin-input','attr': {'class': 'form-control' ,'placeholder':'l\' infinie'}} ) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <h5 class="col-sm-2">Vers</h5>
                                        <div class="col-sm-10">
                                            {{ form_errors(filterForm.villearrivee) }}
                                            {{ form_widget(filterForm.villearrivee, { 'id': 'destination-input','attr': {'class': 'form-control' ,'placeholder':' l\' au-delà'}} ) }}
                                        </div>
                                    </div>

                                    <hr class="primary">


                                    <div class="row">
                                        <h5 class="col-sm-2">Entre </h5>
                                        <div class="col-sm-10">
                                            {{ form_widget(filterForm.datedepart.left_datetime , { 'attr': {'class': 'datepicker form-control col-sm-3' ,'placeholder':'une heure'}} ) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <h5 class="col-sm-2">Et </h5>
                                        <div class="col-sm-10">
                                            {{ form_widget(filterForm.datedepart.right_datetime , { 'attr': {'class': 'datepicker form-control col-sm-3 ' ,'placeholder':'une autre heure'}} ) }}
                                        </div>
                                    </div>


                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            $('.datepicker').datetimepicker({
                                                format:'DD/MM/YYYY HH:mm',
                                            });
                                        });
                                    </script>

                                    <script>
                                        function initAutoComplet() {
                                            var origin = document.getElementById('origin-input');
                                            var destination = document.getElementById('destination-input');
                                            var options = {
                                                types: ['(cities)'],
                                                componentRestrictions: {country: 'fr'}
                                            };

                                            autocomplete1 = new google.maps.places.Autocomplete(origin, options);
                                            autocomplete2 = new google.maps.places.Autocomplete(destination, options);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX7UdZqquu7qVF8pPJ8Ysnv88DQsaYgM0&callback=initAutoComplet&libraries=places"></script>
                                    <br/>

                                    <button class="btn btn-primary btn-block" href="#" data-toggle="modal" name="filter_action" value="filter">
                                        <span>{{"annonce.go"|trans|raw}}</span>
                                    </button>
                                </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 bootcards-list" id="list" data-title="Companies">
                <div class="panel panel-default">

                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{"annonce.list"|trans|raw}}</h3>
                    </div>

                    <div class="list-group">
                        {% for annonce in annonces %}
                            <a class="list-group-item pjax" href="{{ path('annonce_show', { 'id': annonce.id }) }}">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <i class="fa fa-4x fa-car pull-left"></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <h4 class="list-group-item-heading">Le {{ annonce.datedepart|date('d/m à H:i') }}</h4>
                                        <br/>
                                        <p class="list-group-item-text">{{ annonce.villedepart }} >> {{ annonce.villearrivee }}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <br/>
                                        <p>{{ annonce.nbplacedispo }} places </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3>{{ annonce.prix }} €</h3>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">{{"annonce.footer"|trans|raw}}</small><br/>
                    </div>
                </div>
            </div>


        </div>

    </div>


    </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->


    </div>
    </div><!--/row-->

    <!--

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2><a href="{{ path('annonce') }}">Annonce</a></h2>
                </div>
            </div>

            <div class="col-md-12">
                <div  id="filters" class="collapse">

                    <form class="well" action="{{ path('annonce') }}" method="get" >
                        <div class="row">
                            <div class="col-md-6">{{ form_row(filterForm.villedepart) }}</div>

                            <div class="col-md-6">{{ form_row(filterForm.villearrivee) }}</div>

                            <div class="col-md-6">{{ form_row(filterForm.datedepart) }}</div>

                            <div class="col-md-6">
                                {{ form_rest(filterForm) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                                    <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3 pull-left">

                <div class="pagination form-inline ">
                    <select class = "form-control"  onchange="window.location = this.value" >
                        <option value='{{ path('annonce', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                        <option value='{{ path('annonce', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                        <option value='{{ path('annonce', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
                        <option value='{{ path('annonce', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                        <option value='{{ path('annonce', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                    </select>
                </div>

            </div>

            <div class="col-md-6">


            </div>

            <div class="col-md-3">

                <a class="btn btn-primary h3 pull-right" href="{{ path('annonce_new') }}" style="margin-bottom:10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                </a>
                <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                    Filter
                    <span class="caret"></span>
                </a>
            </div>








            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>


        <div class="row">

            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('annonce_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('prix',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('nbplacedispo',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('titre',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('descriptif',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('villedepart',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('villearrivee',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('datedepart',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>
                            <th>{{macros.th_sortable('datearrivee',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'annonce')}}</th>


                            <th width = "130px">List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for annonce in annonces %}
                            <tr>
                                <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{annonce.id}}"/></td>
                                <td><a href="{{ path('annonce_edit', { 'id': annonce.id }) }}">{{ annonce.id }}</a></td>
                                <td>{{ annonce.prix }}</td>
                                <td>{{ annonce.nbplacedispo }}</td>
                                <td>{{ annonce.titre }}</td>
                                <td>{{ annonce.descriptif }}</td>
                                <td>{{ annonce.villedepart }}</td>
                                <td>{{ annonce.villearrivee }}</td>
                                <td>{%- if annonce.datedepart %}{{ annonce.datedepart|date('Y-m-d') }}{% endif %}</td>
                                <td>{%- if annonce.datearrivee %}{{ annonce.datearrivee|date('Y-m-d') }}{% endif %}</td>

                                <td class="actions">
                                    <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('annonce_by_id_delete', { 'id': annonce.id}) }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a title='Show' class="btn btn-info btn-sm" href="{{ path('annonce_show', { 'id': annonce.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('annonce_edit', { 'id': annonce.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>


            </div>
        </div>




        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class = "form-control" name="bulk_action" >
                        <option value="delete">DELETE</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-2 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div>
    </div>
 -->
{% endblock %}
