{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - annonce index
{% endblock %}

{% block body %}

    <div class="container bootcards-container" id="main" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 bootcards-list" id="list" data-title="Companies">
                <div class="panel panel-default">

                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">{{"annonce.mytrip"|trans|raw}}</h3>
                    </div>

                    <div class="list-group">
                        {% for annonce in annonces %}
                            <a class="list-group-item pjax" href="{{ path('annonce_show', { 'id': annonce.id }) }}">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <i class="fa fa-4x fa-car pull-left"></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <h4 class="list-group-item-heading">Le {{ annonce.datedepart|date('d/m/Y à H:m') }}</h4>
                                        <br/>
                                        <p class="list-group-item-text">{{ annonce.villedepart }} >> {{ annonce.villearrivee }}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <br/>
                                        <p>{{ annonce.nbplacedispo }} places </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3>{{ annonce.prix }} €</h3>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">{{"annonce.footer"|trans|raw}}</small>
                        <br/>
                    </div>
                </div>
            </div>


        </div>

    </div>



{% endblock %}
