{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - annonce
{% endblock %}

{% block body %}

<div class="container ">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- boutons -->

        <div class="pull-right">


            <!-- Affiche les boutons d'édition uniquement pour le proprietaire de l'annonce -->
            {% if app.user == annonce.driver %}
            <p></p>
            <a class="btn btn-primary" href="{{ path('annonce_edit', { 'id':  annonce.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Modifier
            </a>
            <form action="{{ path('annonce_delete', { 'id': annonce.id }) }}" method="post" style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form, {'id': 'delete','attr': {'value': 'Supprimer votre annonce'}}) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Êtes vous sûr ?');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Supprimer
                </button>
            </form>
            {% endif %}
        </div>

    </div>

    <div class="row ">
        <div class="col-sm-10  col-sm-offset-1"><br/><br/>
        <a class="btn btn-primary" href="{{ path('annonce') }}">
            {{ "annonce.backtolist"|trans|raw}}
        </a>

        <div class="pull-right">
            <button class="btn btn-primary" onclick="window.location.href='{{ path('annonce_reserver', { 'id':  annonce.id }) }}'"  >{{ "annonce.book"|trans|raw}}</button>
        </div>
        </div>
    </div>

    <div class="row">
        <br/>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">{{ "publier.detail"|trans|raw}}</h2>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h3 class="list-group-item-text">Le {{ annonce.datedepart |date('d/m/Y')}} à {{ annonce.datedepart |date('H:i')}}</h3>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-text ">{{ annonce.villedepart }} >> {{ annonce.villearrivee }} </h4>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4>{{ "publier.details"|trans|raw}}</h4>
                        <p class="list-group-item-text "> {{ annonce.descriptif}}</p>
                    </div>
                </div>


                <br/><br/>
            </div>
        </div>


        <div class="col-sm-2 ">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">{{"annonce.show.cost"|trans|raw}}</h2>

                </div>

                <div class="list-group ">
                    <div class="list-group-item">
                        <h1 class="list-group-item-heading">{{ annonce.prix }} €</h1>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/><br/><br/><br/><br/><br/>

        <div class="col-sm-2 ">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">Places</h2>

                </div>

                <div class="list-group ">
                    <div class="list-group-item">
                        <p class="list-group-item-heading">Il reste {{ annonce.nbplacedispo }} places </p>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="col-sm-10 col-sm-offset-1 ">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix">

                <h2 class="panel-title pull-left">{{"publier.route"|trans|raw}}</h2>
            </div>
            <div class="list-group ">
                <div class="list-group-item">

                    <div id="map" class="col-sm-4"></div>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
        </div>
    </div>

    <form name="general">
        <input hidden name="origin-input" id="origin-input" type="text" value="{{ annonce.villedepart }}"/>
        <input hidden name="destination-input" id="destination-input" type="text"  value="{{ annonce.villearrivee}}"/>

        <input hidden name="place-origin-input" id="place-origin-input" type="text" value="{{ annonce.placeDepart }}" />
        <input hidden name="place-destination-input" id="place-destination-input" type="text"  value="{{ annonce.placeArrivee}}" />
    </form>




    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48, lng: 2},
                zoom: 4
            });
            directionsDisplay.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {

            var origin = document.getElementById('origin-input').value;
            var destination = document.getElementById('destination-input').value;

            var placeorigin = document.getElementById('place-origin-input').value;
            var placedestination = document.getElementById('place-destination-input').value;
            var travelMode = google.maps.TravelMode.DRIVING;


            route(placeorigin, placedestination, google.maps.TravelMode.DRIVING,directionsService, directionsDisplay);

        }

        function route(origin_place_id, destination_place_id, travel_mode,
                       directionsService, directionsDisplay) {
            if (!origin_place_id || !destination_place_id) {
                return;
            }
            directionsService.route({
                origin: {'placeId': origin_place_id},
                destination: {'placeId': destination_place_id},
                travelMode: travel_mode,
                drivingOptions: {
                    departureTime: new Date(Date.now()),  // for the time N milliseconds from now.
                    trafficModel: "optimistic"
                }
            }, function(response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    console.log(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }


            });
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX7UdZqquu7qVF8pPJ8Ysnv88DQsaYgM0&callback=initMap&libraries=places"></script>

    <!--<div class="row">

        <div class="col-md-6">
            <p><strong>Id</strong></p>
            <p>
                {{ annonce.id }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Prix</strong></p>
            <p>
                {{ annonce.prix }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Nbplacedispo</strong></p>
            <p>
                {{ annonce.nbplacedispo }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Titre</strong></p>
            <p>
                {{ annonce.titre }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Descriptif</strong></p>
            <p>
                {{ annonce.descriptif }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Villedepart</strong></p>
            <p>
                {{ annonce.villedepart }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Villearrivee</strong></p>
            <p>
                {{ annonce.villearrivee }}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Datedepot</strong></p>
            <p>
                {% if annonce.datedepart %}{{ annonce.datedepart|date('Y-m-d') }}{% endif %}
            </p>

        </div>
        <div class="col-md-6">
            <p><strong>Heurearrivee</strong></p>
            <p>
                {% if annonce.datearrivee %}{{ annonce.datearrivee|date('Y-m-d') }}{% endif %}
            </p>

        </div></div>

    <hr/>


    <div class="form-group">
        <a class="btn btn-default" href="{{ path('annonce') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
        <a class="btn btn-primary" href="{{ path('annonce_edit', { 'id':  annonce.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Edit
        </a>
        <a class="btn btn-info" href="{{ path('annonce_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
        <form action="{{ path('annonce_delete', { 'id': annonce.id }) }}" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </form>
    </div>-->
</div>


{% endblock %}
