{% extends "base.html.twig" %}

{% block main %}



    <h2 class="form-signin-heading">{{ 'login.title'|trans|raw }}</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% trans_default_domain 'FOSUserBundle' %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input class="form-signin" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label  for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

        <label  for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input class="form-control" type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        <br/><br/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>

    <br/><br/><br/><br/><br/><br/>
{% endblock %}
