{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="col-lg-offset-4">
            <h2>Inscription confirmée {{user.username}}</h2>
            <h3>Merci !</h3>

            <p>Vous pouvez maintenant déposer des annonces sur le site</p>
        </div>
    </div>

{% endblock  %}
