{% extends "base.html.twig" %}

{% block body %}


    <div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h2 class="form-signin-heading">{{ 'register.title'|trans|raw }}</h2>
                </div>




                <div class='panel-body'>
                    <div class='form-inputs'>
                        <div class="form-group">
                            <b>{{ 'register.name'|trans|raw }}</b>

                            {{ form_errors(form.name) }}

                            <div >
                                {{ form_widget(form.name ) }}
                            </div>
                        </div>
                    </div>
                    <div class='form-inputs'>
                        <div class="form-group">
                            <b>{{ 'register.firstname'|trans|raw }}</b>

                            {{ form_errors(form.firstname) }}

                            <div >
                                {{ form_widget(form.firstname ) }}
                            </div>
                        </div>
                    </div>
                    <div class='form-inputs'>
                        <div class="form-group">
                            <b>{{ 'register.username'|trans|raw }}</b>

                            {{ form_errors(form.username) }}

                            <div >
                                {{ form_widget(form.username ) }}
                            </div>
                        </div>
                    </div>
                    <div class='form-inputs'>
                        <div class="form-group">
                            <b>{{ 'register.mail'|trans|raw }}</b>

                            {{ form_errors(form.email) }}

                            <div >
                                {{ form_widget(form.email ) }}
                            </div>
                        </div>
                    </div>

                    <div class='form-inputs'>
                        <div class="form-group">
                            <b>{{ 'register.tel'|trans|raw }}</b>

                            {{ form_errors(form.tel) }}

                            <div >
                                {{ form_widget(form.tel ) }}
                            </div>
                        </div>
                    </div>

                    {% trans_default_domain 'FOSUserBundle' %}
                    <div class='form-inputs'>
                        <div class="form-group">
                                {{ form_widget(form.plainPassword ) }}
                        </div>
                    </div>


                <div class='panel-body'>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="S'enregistrer" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
    </div>

{% endblock  %}
